<?xml version="1.0"?>
<!--
/**
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 *
 * Author Robert Hillebrand - hillebrand@i-ways.de - i-ways sales solutions GmbH
 * Copyright i-ways sales solutions GmbH © 2015. All Rights Reserved.
 * License http://opensource.org/licenses/osl-3.0.php Open Software License (OSL 3.0)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="payment">
            <group id="iways_paypalinstalments_section" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>PayPal Instalments Settings</label>
                <field id="germany_only" type="text" translate="label comment" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Germany only</label>
                    <comment><![CDATA[Only available for merchants located in Germany. Please switch your merchant country to Germany. (Merchant Location -> Merchant Country -> Germany)]]></comment>
                    <frontend_model>Iways\PayPalInstalments\Block\Config\System\Config\Form\Comment</frontend_model>
                </field>
            </group>
        </section>
        <section id="payment_de">
            <group id="iways_paypalinstalments_section" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>PayPal Instalments Settings</label>
                <comment><![CDATA[]]></comment>
                <attribute type="expanded">1</attribute>
                <fieldset_css>complex paypalinstalments-section</fieldset_css>
                <frontend_model>Magento\Paypal\Block\Adminhtml\System\Config\Fieldset\Group</frontend_model>
                <field id="germany_only" type="text" translate="label comment" sortOrder="5" showInDefault="0" showInWebsite="0" showInStore="0">
                    <label>Germany only</label>
                    <comment><![CDATA[Only available for german merchant. Please switch merchant country to Germany]]></comment>
                    <frontend_model>Iways\PayPalInstalments\Block\Config\System\Config\Form\Comment</frontend_model>
                </field>
                <group id="iways_paypalinstalments_api" translate="label" showInDefault="1" showInWebsite="1" sortOrder="10">
                    <label>PayPalInstalments Api Settings</label>
                    <attribute type="expanded">1</attribute>
                    <frontend_model>Magento\Config\Block\System\Config\Form\Fieldset</frontend_model>
                    <field id="business_account" extends="payment_all_paypal/express_checkout/express_checkout_required/express_checkout_required_express_checkout/business_account"/>
                    <field id="api_authentication" extends="payment_all_paypal/express_checkout/express_checkout_required/express_checkout_required_express_checkout/api_authentication"/>
                    <field id="api_username" extends="payment_all_paypal/express_checkout/express_checkout_required/express_checkout_required_express_checkout/api_username" />
                    <field id="api_password" extends="payment_all_paypal/express_checkout/express_checkout_required/express_checkout_required_express_checkout/api_password" />
                    <field id="api_signature" extends="payment_all_paypal/express_checkout/express_checkout_required/express_checkout_required_express_checkout/api_signature" />
                    <field id="api_cert" extends="payment_all_paypal/express_checkout/express_checkout_required/express_checkout_required_express_checkout/api_cert" />
                    <field id="api_wizard" extends="payment_all_paypal/express_checkout/express_checkout_required/express_checkout_required_express_checkout/api_wizard" />
                    <field id="sandbox_flag" extends="payment_all_paypal/express_checkout/express_checkout_required/express_checkout_required_express_checkout/sandbox_flag" />
                    <field id="use_proxy" extends="payment_all_paypal/express_checkout/express_checkout_required/express_checkout_required_express_checkout/use_proxy" />
                    <field id="proxy_host" extends="payment_all_paypal/express_checkout/express_checkout_required/express_checkout_required_express_checkout/proxy_host" />
                    <field id="proxy_port" extends="payment_all_paypal/express_checkout/express_checkout_required/express_checkout_required_express_checkout/proxy_port" />
                    <field id="client_id" translate="label" type="obscure" sortOrder="500" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Client ID</label>
                        <config_path>iways_paypalinstalments/api/client_id</config_path>
                        <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                    </field>
                    <field id="client_secret" translate="label" type="obscure" sortOrder="600" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Client Secret</label>
                        <config_path>iways_paypalinstalments/api/client_secret</config_path>
                        <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                    </field>
                </group>
                <group id="iways_paypalinstalments" translate="label" type="text" sortOrder="25" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label><![CDATA[PayPalInstalments Payment Settings]]></label>
                    <frontend_model>Magento\Config\Block\System\Config\Form\Fieldset</frontend_model>
                    <field id="active" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Enable this Solution</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payment/iways_paypalinstalments_payment/active</config_path>
                    </field>
                    <field id="allowspecific" translate="label" type="allowspecific" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Payment from Applicable Countries</label>
                        <source_model>Magento\Payment\Model\Config\Source\Allspecificcountries</source_model>
                        <config_path>payment/iways_paypalinstalments_payment/allowspecific</config_path>
                    </field>
                    <field id="specificcountry" translate="label" type="multiselect" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Payment from Specific Countries</label>
                        <source_model>Magento\Directory\Model\Config\Source\Country</source_model>
                        <can_be_empty>1</can_be_empty>
                        <config_path>payment/iways_paypalinstalments_payment/specificcountry</config_path>
                    </field>
                    <field id="payment_action" translate="label" type="select" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Payment Action</label>
                        <source_model>Iways\PayPalInstalments\Model\System\Config\Source\PaymentActions</source_model>
                        <can_be_empty>1</can_be_empty>
                        <config_path>payment/iways_paypalinstalments_payment/payment_action</config_path>
                    </field>
                    <field id="lender" translate="label" type="text" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Lender</label>
                    </field>
                    <field id="generic_upstream_homepage" translate="label" type="select" sortOrder="80" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Show generic upstream promotion on home page</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    </field>
                    <field id="generic_upstream_category" translate="label" type="select" sortOrder="90" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Show generic upstream promotion on category pages</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    </field>
                    <field id="specific_upstream_product" translate="label" type="select" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Show specific upstream promotion on product page</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    </field>
                    <field id="specific_upstream_cart" translate="label" type="select" sortOrder="110" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Show specific upstream promotion on cart</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    </field>
                    <field id="specific_upstream_payment_method" translate="label" type="select" sortOrder="120" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Show specific upstream promotion on payment method</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    </field>
                    <field id="specific_upstream_calculated" translate="label" type="select" sortOrder="120" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Show specific upstream promotions with calculated values</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    </field>
                </group>
            </group>
        </section>
    </system>
</config>
