.generic-pp-installment{
    width:250px;
    margin: 35px auto 0;
    height: 97px;
    padding: 5px;
    border: 3px solid #009cde;
    border-radius: 15px;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #636363;
    background: url(pp_installments.jpg) no-repeat scroll 50% 53px/auto 45px;
}

.specific-pp-installment{
    height: 200px;
    width: 200px;
    margin: auto;
    background: red;
}